.header {
  .headerTop {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px;
    // border-bottom: 1px solid #0000001a;
    max-width: 1820px;
    margin: 0 auto;

    .header_title {
      font-size: 30px;
      font-weight: 400;
      color: #22202e;
    }

    .header_menus {
      display: flex;
      justify-content: space-between;
      align-items: center;
      gap: 40px;
      .nav {
        display: flex;
        gap: 30px;
        align-items: center;

        .nav_link {
          color: #726e8d;
          font-size: 16px;
        }
      }

      .icon {
        margin: 14px;
        cursor: pointer;
        font-size: 16px;
      }
    }
  }
  .menus_i {
    display: flex;
    // align-items: center;
    gap: 40px;
    background: #f9f9f9;
    padding: 20px;
    padding-left: 650px;
    color: #726e8d;
  }
}
