.banner {
  background-image: url("../../assets/images/banner-bg.png");
  width: 100%;
  min-height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;

  .banner_card {
    background: #fff;
    width: 630px;
    height: 444px;
    padding: 40px;
    position: absolute;
    bottom: 130px;
    right: 80px;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    -webkit-box-shadow: 5px 5px 5px -5px rgba(34, 60, 80, 0.6);
    -moz-box-shadow: 5px 5px 5px -5px rgba(34, 60, 80, 0.6);
    box-shadow: 5px 5px 5px -5px rgba(34, 60, 80, 0.418);

    .title_card {
      color: #22202e;
      font-size: 32px;
      margin-bottom: 20px;
    }

    .button {
      background: #f9f9f9;
      padding: 16px 20px;
      width: 160px;
      border: none;
      color: #2a254b;
      font-size: 16px;
      border-radius: 10px;
      box-shadow: 5px 5px 5px -5px rgba(34, 60, 80, 0.295);
      cursor: pointer;
    }
  }
}

.container {
  max-width: 1280px;
  margin: 0 auto;
}
